{% extends 'layout_admin.html.twig' %}

{% block content %}
    <h1>Thumbnail creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <br>
    <a href="{{ path('admin_thumbnail_index') }}">Back to the list</a>

    {% if delete_form %}
        <h3>Supprimer la vignette</h2>
        {{ form_start(delete_form) }}
            <input type="submit" value="La supprimer définitivement">
        {{ form_end(delete_form) }}
    {% endif %}
{% endblock %}
