{% extends 'layout_admin.html.twig' %}


{% block content_title %}
    Liste des classes
{% endblock %}

{% block content %}


<div class="row">
    <div class="col-lg-12">
        <a href="{{ path('admin_classroom_new') }}"  class="btn btn-primary"><i class="fa fa-group   "></i> Créer une nouvelle classe</a><br /><br />
    </div>
</div>


<div class="table-responsive">

    <table class="table table-bordered table-hover table-striped" id="dataTables-users">
        <thead>
            <tr>
                <th>Name</th>
                <th>Year</th>
                <th>Actions</th>                
            </tr>
        </thead>
        <tbody>
        {% for classroom in classrooms %}
            <tr>
                <td>{{ classroom.name }}</td>
                <td>{{ classroom.year }}</td>
                <td>
                    <a href="{{ path('user_class', { 'class_id': classroom.id }) }}" class="btn btn-primary btn-xs "><i class="fa fa-group"></i> Liste des élèves</a>
                    <a href="{{path('admin_classroom_edit', { 'id': classroom.id }) }}" class="btn btn-warning btn-xs "><i class="fa fa-edit"></i> Modifier</a>
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>


            
{% endblock %}
