{% extends "layout.html.twig" %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/custom.css') }}" />

{% endblock %}

{% block body %}

<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    
      
      <div class="navbar-brand" style="display:block;width:100%;">

        <div class="row">

          <div class="col-xs-4">
            <span style="background-color:#dbdbdb; padding:2px; border-radius:10px; border:1px solid grey;">
            <a href="{{path('accueil-exercise-eleve')}}">Qui-Quand-Où?</a>
            </span>
          </div>

          <div class="col-xs-4" style="text-align:center"> 
          {{ render(controller('ExerciseBundle:Default:navbar' )) }}
          </div>

          <div class="col-xs-4 " style="text-align:right; font-weight:bold;">
            {{ app.user.getFullName() }} <a><i class="glyphicon glyphicon-log-out "></i></a>
            
          </div>


        </div>

        


        

      </div>

    

    <!-- Collect the nav links, forms, and other content for toggling -->
    <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li {% block accueil_actif %}  {% endblock %}><a href="{{path('accueil-exercise-eleve')}}">Accueil </a></li>
        <li {% block lancer_actif %}  {% endblock %}><a href="{{path('start-exercise-eleve')}}">Lancer un exercice</a></li>
        

      </ul>

      <ul class="nav navbar-nav navbar-right navbar-always-visible">
        {% include 'include/navbar-user.html.twig' %}        
      </ul>

     

      
    <!--</div>-->
    
  </div>
</nav>


<div class="container">
	{% block content %} {% endblock %}
</div>

 
 {% endblock %}