{% extends "layout.html.twig" %}

{% block body %}
<div id="wrapper">
<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Administration Qui-Quand-Ou</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-nav navbar-right">
            

            {% include 'include/navbar-user.html.twig' %}
        </ul>
        <!-- /.navbar-top-links -->
    </div>

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Rechercher...">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                    </div>
                    <!-- /input-group -->
                </li>
                <li>
                    <a href="/admin"><i class="fa fa-home fa-fw"></i> Accueil</a>
                </li>
                <li style="border-bottom: 0px;">
                    <a><i class="fa fa-question-circle-o fa-fw"></i> Qui Quand Où<span class="fa fa-angle-down" style="float: right;"></span></a>
                    
                    <!-- /.nav-second-level -->
                </li> 
                <ul class="nav nav-second-level">
                        <li>
                            <a href="{{path('admin_thumbnail_index')}}"><i class="fa fa-smile-o fa-fw"></i> Gérer Vignettes</a>
                        </li>
                        <li>
                            <a href="{{path('admin_exercise_index')}}"><i class="fa fa-comments fa-fw"></i> Gérer Histoires</a>
                        </li>
                        <li>
                            <a href="{{path('start-exercise-eleve')}}" target="_blank"><i class="fa fa-rocket fa-fw"></i> Tester un exercice</a>
                        </li>
                    </ul> 
                <li  style="border-bottom: 0px;">
                    <a><i class="fa fa-book fa-fw"></i> Ecole<span class="fa fa-angle-down" style="float: right;"></span></a>
                    
                    <!-- /.nav-second-level -->
                </li>        
                <ul class="nav nav-second-level">
                        <li>
                            <a href="{{path('user_index')}}"><i class="fa fa-child fa-fw"></i> Utilisateurs</a>
                        </li>
                        <li>
                            <a href="{{path('admin_classroom_index')}}"><i class="fa fa-users fa-fw"></i> Classes</a>
                        </li>
                    </ul>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>

    
    <!-- /.navbar-static-side -->
</nav>


<div id="page-wrapper">

{% block content %} {% endblock %}
</div>

</div>
 
 {% endblock %}