{% extends "layout_user.html.twig" %}


{% block content %}



<div class="row">
	<div class="jumbotron .col-md-8 ">
		<h1 class="story">{{story.title}}</h1><br>
		<p class="story">
		{% if verdict_total %}
		    Félicitations ! 
		{% else %}
		    Mince, ce n'est pas la bonne réponse ...
		{% endif %}
	</p>
	<br>

	<div class="col-md-6">

		<table class="table table-bordered">
		<thead>
			<tr>
				<th></th>
				<th>Réponse donnée</th>
				<th>Verdict</th>
				<th>Réponse correcte</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Qui?</th>
				<td>{{response_qui}}</td>
				<td>
					{% if verdict_qui %}
					    <img src="/exercise/icons/bon.png" alt="" class="imgverd">
					{% else %}
					    <img src="/exercise/icons/mauvais.png" alt="" class="imgverd">
					{% endif %}
				</td>
				<td>{{correct_qui}}</td>
			</tr>
			<tr>
				<th>Quand?</th>
				<td>{{response_quand}}</td>
				<td>
					{% if verdict_quand %}
					    <img src="/exercise/icons/bon.png" alt="" class="imgverd">
					{% else %}
					    <img src="/exercise/icons/mauvais.png" alt="" class="imgverd">
					{% endif %}
				</td>
				<td>{{correct_quand}}</td>
			</tr>
			<tr>
				<th>Où?</th>
				<td>{{response_ou}}</td>
				<td>
					{% if verdict_ou %}
					    <img src="/exercise/icons/bon.png" alt="" class="imgverd">
					{% else %}
					    <img src="/exercise/icons/mauvais.png" alt="" class="imgverd">
					{% endif %}
				</td>
				<td>{{correct_ou}}</td>
			</tr>
		</tbody>
		</table>
	</div>

	</div>
</div>


<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<a class="btn btn-primary btn-lg btn-block story" href="{{path('start-exercise-eleve')}}">Continuer avec un autre exercice</a>
	</div>
</div>


{% endblock %}