{% block question %}

<div class="container">
<h3>{{question|title}}?</h3>
	<div class="container-fluid row">
		{% for thumb in thumbnails_liste %}
			<span class="col-xs-4" style="text-align: center;">
				<label for="{{thumb.id}}">
			    <img src="{{ asset( thumb.getImageView()) }}" class="img-thumbnail" style="max-height: 130px;"><br>
			    <input type="radio" name="data-{{question}}" id="{{thumb.id}}" value="{{thumb.id}}"></label>

			</span>
		{% endfor %}
	</div>
</div>

{% endblock %}