{% block question %}

<div class="question">
	<div class="row">
		<div class=" col-lg-12">
			<h3 class=""><span class="{{icon}}"></span> {{question|title}}?</h3>
		</div>
	</div>
	<div class="row">
		<div>
			{% for thumb in thumbnails_liste %}
				<div class=" col-xs-6 col-sm-4 " style="text-align: center;">
					
					<label>
						<div><img src="{{ asset( thumb.getImageView()) }}" class="img-thumbnail respimg"></div>
						<div ><input class="radio" type="radio" name="data-{{form}}" id="{{thumb.id}}" value="{{thumb.id}}" required="required"></div>
					</label>
					
				</div>
			{% endfor %}
		</div>
</div>

{% endblock %}