<div class="col-xs-4 " style="text-align:center;border:0px solid black;">
    <div id="choice_{{id}}" data-type="{{id}}" class="question_choice" style="position:relative;">
        <div class="thumb">
            <img src="{{asset('exercise/img/question.png')}}" class="img-thumbnail respimg">
        </div>

        <h3 class="question_title"><i class="{{icon}} hidden-xs"></i> {{question | title}}?</h3>	

        <!--<div style="position:absolute; left:40%; bottom:-10px;">
        <i class="fa fa-arrow-down" style="color:black;"></i>
        </div>-->


    </div>	
</div>