{% extends "layout_user.html.twig" %}

{% block lancer_actif %} class="active" {% endblock %}

{% block content %}





<div class="row">
	<div class="jumbotron story padding-10 padding-lr-30">
	{% if not story.sound is empty %}
			<!-- <p><audio src="{{asset(story.getSoundView())}}" controls>Veuillez mettre à jour votre navigateur !</audio></p> -->
			<div class="monaudio">
				<a href="javascript:void(0)" onclick="aud_play_pause(this)">
				    <i class="control fa fa-microphone"></i>
				    <audio class="xnine-player" src="{{asset(story.getSoundView())}}" preload="auto"></audio>
				</a>
			</div>

		{% endif %}

		<h1 >{{story.title | capitalize }}</h1><br>
		<p >{{story.text | nl2br }}</p>

		
	</div>
</div>



<div class="row">
	{% include 'ExerciseBundle:Default:resolve_choice.html.twig' 
		with {icon: 'glyphicon glyphicon-user', question: 'qui', id: 'qui', thumbnails_liste: thumbnails_qui, response:responses['qui'], correct:correct['qui']} %}
	{% include 'ExerciseBundle:Default:resolve_choice.html.twig' 
		with {icon: 'glyphicon glyphicon-hourglass', question: 'quand', id: 'quand', thumbnails_liste: thumbnails_qui, response:responses['quand'], correct:correct['quand']} %}
	{% include 'ExerciseBundle:Default:resolve_choice.html.twig' 
		with {icon: 'glyphicon glyphicon-screenshot', question: 'où', id: 'ou', thumbnails_liste: thumbnails_qui, response:responses['ou'], correct:correct['ou']} %}

	
</div>

<hr>

<form action="{{ path('quiquandou_check') }}" method="POST" autocomplete="off">



	{% include 'ExerciseBundle:Default:resolve_question.html.twig' 
		with {id: 'qui', thumbnails_liste: thumbnails_qui, form:responses['qui']} %}
	{% include 'ExerciseBundle:Default:resolve_question.html.twig' 
		with {id: 'quand', thumbnails_liste: thumbnails_quand, form:responses['quand']} %}
	{% include 'ExerciseBundle:Default:resolve_question.html.twig' 
		with {id: 'ou', thumbnails_liste: thumbnails_ou, form:responses['ou']} %}
<br clear="all">
<br>
	<div class="row" style="margin-top:15px;">
		{% if not ended %}
			<div class="col-sm-6 col-sm-offset-3">
				<button type="submit" id="bt_submit" class="btn btn-primary  btn-lg btn-block" style="display:none;"><i class="fa fa-check "></i> Vérifier mes réponses</button>
				<button  id="bt_waiting" class="btn btn-danger  btn-lg btn-block" disabled><i class="fa fa-times "></i> Tu dois répondre aux questions</button>
			</div>
		{% else %}
			<div class="col-sm-6 col-sm-offset-1 col-xs-8">
				<a class="btn btn-primary btn-lg btn-block" href="{{path('start-exercise-eleve')}}"><i class="fa fa-arrow-circle-o-right "></i> Continuer avec un autre exercice</a>
			</div>
			<div class="col-sm-4 col-xs-4">
				<a href="{{path('exercise-user-results')}}" class="btn btn-danger  btn-lg btn-block"><i class="fa fa-flag-checkered"></i> J'arrête là</a>
			</div>
		{% endif %}
		<!--<div class="col-sm-2">
			<button type="submit" class="btn btn-danger  btn-lg btn-block">J'ai terminé</button>
		</div>-->
	</div>

	
</form>

<br>

{% endblock %}


{% block javascripts %}

<script>

var quest = ["qui","quand","ou"];

function toggleQuestion(type){
	
	$( ".question_answers" ).each(function( index ) {

		var q_type = $(this).attr('data-type');
		
		if(q_type  != type){			
			$(  "#question_answers_"+q_type).hide(50);
		}
		else{		
			
			$( "#question_answers_"+q_type ).delay(50).show(300);
		}
	});

	
}

$( document ).ready(function() {
	
	

	checkAnswered();
	choiceThumb();

	$('.question_choice').click(function(){		
		var type = $(this).attr('data-type');		
		toggleQuestion( type );
	});
});



</script>

{% endblock %}