{% extends 'layout_admin.html.twig' %}


{% block content_title %}
    Modification d'un utilisateur   
{% endblock %}



{% block content %}
    

    <h3>Informations générales</h3>

    {{ form_start(edit_general_form) }}
        {{ form_widget(edit_general_form) }}       
    {{ form_end(edit_general_form) }}

    <h3>Classe de l'utilisateur</h3>
    {{ form_start(edit_class_form) }}
        {{ form_widget(edit_class_form) }}       
    {{ form_end(edit_class_form) }}


    <h3>Protéger l'accès</h3>
    {{ form_start(password_form) }}
        {{ form_widget(password_form) }}
        
    {{ form_end(password_form) }}

    <ul>
        <li>
            <a href="{{ path('user_index') }}">Retourner à la liste des utilisateurs</a>
        </li>
        
    </ul>
{% endblock %}
