{% extends 'layout_admin.html.twig' %}


{% block content_title %}
    {% if not classroom is empty %}
        Classe {{classroom.name}} ({{classroom.year}})
    {% else %}
        Liste des utilisateurs      
    {% endif %}   
{% endblock %}

{% block content %}



{% if classroom is empty %}  
    <div class="row">
        <a href="{{ path('user_new') }}" class="btn btn-primary"><i class="glyphicon glyphicon-user"></i> Ajouter un utilisateur</a><br /><br />
    </div>
{% endif %}
    
    
   
    <div class="row table-responsive_">
        <table class="table table-bordered table-hover table-striped" id="dataTables-users" data-order='[[ 1, "asc" ]]' data-page-length='25'>
            <thead>
                <tr>
                    <!--<th>Id</th>-->
                    <th>Nom d'utilisateur</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Date de naissance</th>
                    <th>Email</th>                
                    <th>Statut</th>                    
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <!--<td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>-->
                    <td>{{ user.username }} {% if not user.password is empty %}<i class="fa fa-key" style="color:red;" title="Utilisateur protégé par mot de passe"></i>{% endif %}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{% if user.birthDate %}{{ user.birthDate|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ user.email }}</td>                
                    <td>{% if user.role %}{{ user.getRoleName() }}{% endif %}</td>
                    
                    <td>                    
                        <a href="{{ path('user_show', { 'id': user.id }) }}" class="btn btn-primary btn-xs "><i class="fa fa-user"></i> Consulter</a>
                        <a href="{{ path('user_edit', { 'id': user.id }) }}" class="btn btn-warning btn-xs "><i class="fa fa-edit"></i> Modifier</a>     
                            
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

   
{% endblock %}


{% block javascripts %}
<script>
$(document).ready(function() {
    $('#dataTables-users').DataTable({
        "responsive": true,
        "language":
        {
            "sProcessing":     "Traitement en cours...",
            "sSearch":         "Rechercher&nbsp;:",
            "sLengthMenu":     "Afficher _MENU_ utilisateurs",
            "sInfo":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
            "sInfoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
            "sInfoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
            "sInfoPostFix":    "",
            "sLoadingRecords": "Chargement en cours...",
            "sZeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
            "sEmptyTable":     "Aucune donn&eacute;e disponible dans le tableau",
            "oPaginate": {
                "sFirst":      "Premier",
                "sPrevious":   "Pr&eacute;c&eacute;dent",
                "sNext":       "Suivant",
                "sLast":       "Dernier"
            },
            "oAria": {
                "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
                "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
            }
        }
        /*"language": {
            "url": "{{asset('assets/vendor/datatables-plugins/i18n/French.lang')}}"
        }*/
    });
});
</script>

{% endblock %}