<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Derniers exercices
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                {% if app.request.get('_route') == 'admin' %}
                                <th>Elève</th>
                                {% endif %}
                                <th>Date</th>
                                <th>Histoire</th>
                                <th>Score</th>
                            </tr>
                        </thead>
                        <tbody>

						{% for exercice in exercises_lastDone %}
							<tr>
                                {% if app.request.get('_route') == 'admin' %}
                                <td><a href="{{ path('user_show', { 'id': exercice['user_id'] }) }}">{{ exercice['firstname'] }} {{ exercice['lastname'] }}</a></td>
                                {% endif %}
                                <td>{{ exercice['date']|date('d/m/Y à H:i') }}</td>
                                <td><a href="{{ path('admin_exercise_edit', { 'id': exercice['exercise_id'] }) }}" >{{ exercice['title'] }}</a></td>
                                <td>{{ exercice['score'] }}/3</td>
                            </tr>
						{% endfor %}

                            
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>