{% extends 'layout_admin.html.twig' %}



{% block content_title %}
    {{ user.firstname }} {{ user.lastname }}
{% endblock %}

{% block content %}
  


<style>
    .andtd {
        /*width: 50%; */
        padding-left: 10px;
        /*font-weight: bold;*/
    }
    .andtb {
        width: 100%;
    }
</style>
<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default" style="margin-bottom: 0px;">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-book fa-fw"></i> Informations générales</h3>
            </div>
            <div class="panel_body">
                <table class="table table-bordered" style="margin-bottom: 0px;">
                    <tbody>       
                        <tr>        
                            <th class="andtd">Login</td>
                            <td>{{ user.username }}</td>
                        </tr>                
                        <tr>
                            <th class="andtd">Date de naissance</td>
                            <td>{% if user.birthDate %}{{ user.birthDate|date('Y-m-d') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th class="andtd">Email</td>
                            <td>{% if user.email is empty %} / {% else %} {{ user.email }} {% endif %}</td>
                        </tr>
                        <tr>
                            <th class="andtd">Password</td>
                            <td>{% if user.password is empty %} Pas de mot de passe {% else %} Mot de passe défini {% endif %}</td>
                        </tr>
                        <tr>
                            <th class="andtd">Roles</td>
                            <td>{% if user.roles %}{{ user.getRoleName() }}{% endif %}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    </div>
<br><br>

    <div class="row">

        {{ dump(stats_user) }}
        
        <table class="table table-bordered"> 
        <tbody>
            {% for key,value in stats_user %}
                <tr>
                    <td class="col-md-2">
                        {{ key }} <br> 
                        Total : {{ value['nb_done'] }}

                    </td>

                    {% if value['score_qui'] is defined %}
                        {% include 'SchoolBundle:user:1score.html.twig' 
                            with {title: 'Score qui:', score: value['score_qui']} %}
                    {% else %}
                        {% include 'SchoolBundle:user:1score.html.twig' 
                            with {title: 'Score qui:', score: 0} %}
                    {% endif %}

                    {% if value['score_quand'] is defined %}
                        {% include 'SchoolBundle:user:1score.html.twig' 
                            with {title: 'Score quand:', score: value['score_quand']} %}
                    {% else %}
                        {% include 'SchoolBundle:user:1score.html.twig' 
                            with {title: 'Score quand:', score: 0} %}
                    {% endif %}

                    {% if value['score_ou'] is defined %}
                        {% include 'SchoolBundle:user:1score.html.twig' 
                            with {title: 'Score où:', score: value['score_ou']} %}
                    {% else %}
                        {% include 'SchoolBundle:user:1score.html.twig' 
                            with {title: 'Score où:', score: 0} %}
                    {% endif %}

                    <td class="col-md-3">
                        Score Global : 
                        <div class="progress">
                          <div class="progress-bar " role="progressbar" aria-valuenow="{{ value['score_global'] }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ value['score_global'] }}%;">
                            {{ value['score_global'] }}%
                          </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>

    <br>

    <ul>
        <li>
            <a href="{{ path('user_index') }}">Retourner à la liste des utilisateurs</a>
        </li>
        <li>
            <a href="{{ path('user_edit', { 'id': user.id }) }}">Modifier cet utilisateur</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer cet utilisateur">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
