{% extends 'layout_admin.html.twig' %}



{% block content_title %}
    {{ user.firstname }} {{ user.lastname }}
{% endblock %}

{% block content %}
  


<style>
    .andtd {
        /*width: 50%; */
        padding-left: 10px;
        /*font-weight: bold;*/
    }
    .andtb {
        width: 100%;
    }
</style>

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default" style="margin-bottom: 0px;">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-book fa-fw"></i> Informations générales</h3>
            </div>
            <div class="panel_body">
                <table class="table table-bordered" style="margin-bottom: 0px;">
                    <tbody>       
                        <tr>        
                            <th class="andtd">Login</td>
                            <td>{{ user.username }}</td>
                        </tr>                
                        <tr>
                            <th class="andtd">Date de naissance</td>
                            <td>{% if user.birthDate %}{{ user.birthDate|date('Y-m-d') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th class="andtd">Email</td>
                            <td>{% if user.email is empty %} / {% else %} {{ user.email }} {% endif %}</td>
                        </tr>
                        <tr>
                            <th class="andtd">Password</td>
                            <td>{% if user.password is empty %} Pas de mot de passe {% else %} Mot de passe défini {% endif %}</td>
                        </tr>
                        <tr>
                            <th class="andtd">Roles</td>
                            <td>{% if user.roles %}{{ user.getRoleName() }}{% endif %}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>


    <div class="col-lg-4">
        <div class="panel panel-default" style="margin-bottom: 0px;">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-book fa-fw"></i> Données spécifiques</h3>
                </div>
                <div class="panel_body">
                    <table class="table table-bordered" style="margin-bottom: 0px;">
                        <tbody>       
                            <tr>        
                                <th class="andtd">Dernière activité</td>
                                <td>{{ user.activity | date('j M Y à H:i:s') }}</td>
                            </tr>               
                            
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
 </div>
<br><br>

<h2>Statistiques</h2>

<div class="row">
    <div class="col-lg-3 col-md-5 col-sm-8">
        {{ form_start(form_analyse) }}    
        {{ form_row(form_analyse.period, {'attr': {'class': 'form-inline'}} )}}  
        {{ form_end(form_analyse) }}
    </div>
</div>


<div class="row">
 {% include 'SchoolBundle:user:1score.html.twig' 
                            with {panel: 'panel-primary', title: 'Niveau global', 'type': stats_user[1] } %}
</div>

<h3>Détails par niveau</h3>
<div class="row">

    {% include 'SchoolBundle:user:1score.html.twig' 
                            with {panel: 'panel-info', title: 'Niveau facile', 'type': stats_user[1] } %}
    {% include 'SchoolBundle:user:1score.html.twig' 
                            with {panel: 'panel-info', title: 'Niveau moyen', 'type': stats_user[2] } %}
    {% include 'SchoolBundle:user:1score.html.twig' 
                            with {panel: 'panel-info', title: 'Niveau difficile', 'type': stats_user[3] } %}
</div>

{#
    <div class="row">

       
        
        <table class="table table-bordered"> 
        <tbody>
            {% for key,value in stats_user %}
                <tr>
                    <td class="col-md-2">
Exercices 
{% if key == 1 %}
    faciles
{% elseif key == 2  %}
    moyens
{% elseif key == 3  %}
    difficiles
{% else %}
    en total
{% endif %}
                         <br> 
                        Total : {{ value['nb_done'] }}

                    </td>
                    
                    {% if value['score_qui'] is defined %}
                        {% include 'SchoolBundle:user:1score.html.twig' 
                            with {title: 'Score qui:', score: value['score_qui']} %}
                    {% else %}
                        {% include 'SchoolBundle:user:1score.html.twig' 
                            with {title: 'Score qui:', score: 0} %}
                    {% endif %}

                    {% if value['score_quand'] is defined %}
                        {% include 'SchoolBundle:user:1score.html.twig' 
                            with {title: 'Score quand:', score: value['score_quand']} %}
                    {% else %}
                        {% include 'SchoolBundle:user:1score.html.twig' 
                            with {title: 'Score quand:', score: 0} %}
                    {% endif %}

                    {% if value['score_ou'] is defined %}
                        {% include 'SchoolBundle:user:1score.html.twig' 
                            with {title: 'Score où:', score: value['score_ou']} %}
                    {% else %}
                        {% include 'SchoolBundle:user:1score.html.twig' 
                            with {title: 'Score où:', score: 0} %}
                    {% endif %}

                    <td class="col-md-3">
                        Score global : 
                        <div class="progress">
                          <div class="progress-bar " role="progressbar" aria-valuenow="{{ value['score_global'] }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ value['score_global'] }}%;">
                            {{ value['score_global'] }}%
                          </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
#}
    <br>

     {% include 'ExerciseBundle:admin_exercise:lastdone.html.twig' 
                            with {exercises_lastDone: exercises_lastDone} %}


    <div class="row">
        <div class="col-xs-6">
            <a href="{{ path('user_edit', { 'id': user.id }) }}" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i> Modifier cet utilisateur</a><br /><br />

            {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-danger btn-sm" onClick="if(!confirm('Souhaitez-vous vraiment supprimer cet utilisateur') return false;"><i class="fa  fa-trash-o "></i> Supprimer cet utilisateur</button>
            {{ form_end(delete_form) }}
        </div>
       
    </div>


    
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#form_period').on('change', function() {
            this.form.submit();
        });
    });
</script>

{% endblock %}
