{% extends 'layout_admin.html.twig' %}

{% block content_title %}Liste des histoires{% endblock %}


{% block content %}
    

<div class="container row">
    <div class="well col-md-4">
        <a href="{{ path('admin_exercise_new') }}">Créer un nouvel exercise</a>
    </div>
</div>

<div class="table-responsive">
                
                    <table class="table table-bordered table-hover table-striped" id="dataTables-users">
                        <thead>
                            <tr>
                                <th>Titre de l'histoire</th>
                                <th>Texte de l'histoire</th>
                                <th>Niveau</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>

{% for exercise in exercises %}

                    
                            <tr>
                                <td>{{ exercise.title }}</td>
                                <td>{{ exercise.text }}</td>
                                <td>{{ exercise.getLevelName() }}</td>
                                <td>              
                                    <a  href="{{ path('admin_exercise_edit', { 'id': exercise.id }) }}" class="btn btn-primary btn-xs "><i class="fa fa-edit"></i> Modifier</a>
                                   
                                    <a href="{{ path('admin_exercise_delete', { 'id': exercise.id }) }}" onClick="if(!confirm('Etes-vous certain de vouloir supprimer cet exercice ?')) return false;" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Supprimer</a>
                                </td>
                            </tr>

{% endfor %}

                        </tbody>
                    </table>
                
                    </div>

    <!-- <table>
        <thead>
            <tr>
                <th>Titre de l'histoire</th>
                <th>Texte de l'histoire</th>
                <th>Niveau</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for exercise in exercises %}
            <tr>
                <td>{{ exercise.title }}</td>
                <td>{{ exercise.text |truncate(25, false, '...') }}</td>
                <td>{{ exercise.level }}</td>
                <td>            
                    
                
                    <a href="{{ path('admin_exercise_edit', { 'id': exercise.id }) }}">Modifier</a> -
                    <a href="{{ path('admin_exercise_delete', { 'id': exercise.id }) }}">Supprimer</a>
                       
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table> -->


{% endblock %}
