{% extends 'layout_admin.html.twig' %}

{% block content_title %}
    {% if exercise.title is empty %}Nouvelle histoire {% else %}Modifier une histoire{% endif %}
{% endblock %}

{% block content %}

  
    {{ form_start(form) }}

        <h3>L'histoire</h3>
        {{ form_row(form.title) }}
        {{ form_row(form.text) }}
        {{ form_row(form.level) }}

        <h3>Les questions</h3>
        {{ form_row(form.qui) }}
        {{ form_row(form.quand) }}
        {{ form_row(form.ou) }}

        <h3>Facultatif</h3>
        {{ form_row(form.file) }}
        
        {% if not exercise.sound is empty and  not exercise.isSoundAuto()  %}
        
        <audio src="{{asset(exercise.getSoundView())}}" controls>Veuillez mettre à jour votre navigateur !</audio>
        {{ form_row(form.sound_delete) }}

        {% endif %}
        
        <button type="submit" class="btn btn-primary">{% if exercise.title is empty %}Ajouter cette histoire {% else %} Modifier cette histoire {% endif %}</button>
    {{ form_end(form) }}

{% endblock %}
