{% extends 'layout_admin.html.twig' %}

{% block content %}
    <h1>Liste des exercices</h1>

    <table>
        <thead>
            <tr>
                <th>Titre de l'histoire</th>
                <th>Texte de l'histoire</th>
                <th>Niveau</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for exercice in exercices %}
            <tr>
                <td>{{ exercice.title }}</td>
                <td>{{ exercice.text |truncate(25, false, '...') }}</td>
                <td>{{ exercice.level }}</td>
                <td>            
                    
                
                    <a href="{{ path('admin_exercice_edit', { 'id': exercice.id }) }}">Modifier</a> -
                    <a href="{{ path('admin_exercice_delete', { 'id': exercice.id }) }}">Supprimer</a>
                       
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_exercice_new') }}">Créer un nouvel exercice</a>
        </li>
    </ul>
{% endblock %}
