{% extends 'base.html.twig' %}

{% block body %}
    <h1>Exercice</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ exercice.id }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ exercice.text }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ exercice.level }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_exercice_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_exercice_edit', { 'id': exercice.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
